body {
    padding-top: 54px;

}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.flex-box-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.modal-header{
    flex-direction: row-reverse;
    .close {
    padding = 0;
    }
}

.close-btn {
    color: #000;
    background-color: rgb(221, 221, 221);
    border: none;
}