{{> guestHeader}}

<!-- Page Content -->
<div class="container-fluid">

    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">

                <h3>Book a table</h3>
                <p>Book for more than 6 guests? Please call us.</p>
                <form id="bookingForm" enctype='text/plain'>
                    First name:<br>
                    <input type='text' class="form-control" name='guestFirstName' id="guestFirstName"><br>
                    Last name: <br>
                    <input type='text' class="form-control" name='guestLastName' id="guestLastName"><br>
                    Telephone number:
                    <input type='text' class="form-control" name='phoneNumber' id="phoneNumber"><br>
                    For how many people do you want to book a table?<br>
                    <input type='text' class="form-control" name='tableCapacity' id="tableCapacity"><br>
                    Date:<br>
                    <input type='text' class="form-control" name='bookingDate' id="bookingDate"><br>
                    Time:<br>
                    <input type='text' class="form-control" name='bookingTime' id="bookingTime"><br>
                    <button type="button" class="btn btn-primary" id="submitNewBooking">Submit</button>
                </form>
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="deselect()" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" id="modal-title">Title</h3>
                </div>
                <div class="modal-body">
                    <form id="modalForm" enctype='text/plain'>
                        Capacity:<br>
                        <input type='text' class="form-control" name='capacity' id="capacity"><br>
                        Last name: <br>
                        <input type='text' class="form-control" name='lastName' id="lastName"><br>
                        Telephone number:
                        <input type='text' class="form-control" name='phoneNumber' id="phoneNumber"><br>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnsubmit">Submit</button>
                    <a href="#" id="confirmbutton" data-title="Are you sure" data-trigger="focus" data-toggle="clickover" data-placement="top" class="btn btn-danger">Delete</a>
                    <button type="button" class="btn btn-default" id="btnclose" onclick="deselect()" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

{{> footer}}