{{> header}}

<!-- Page Content -->
<div class="container-fluid">
    <h1 class="mt-5">List of bookings</h1>

    <i class="fa fa-plus btn btn-success" id="addBtn"></i>

    <table id="dataTable" class="display table-hover">
        <thead>
        <tr>
            <th>Booking ID</th>
            <th>Table number</th>
            <th>Booking date</th>
            <th>Time</th>
            <th>Last name</th>
            <th>E-mail</th>
            <th>Options</th>
        </tr>
        </thead>
    </table>

    <div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="deselect()" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" id="modal-title">Booking</h3>
                </div>
                <div class="modal-body">
                    <form id="modalForm" enctype='text/plain'>
                        ID:<br>
                        <input type='text' class="form-control" name='id' id="id" ><br>
                        Guest ID:<br>
                        <input type='text' class="form-control" name='guestid' id="guestid"><br>
                        Guest first name:<br>
                        <input type='text' class="form-control" name='guestFirstName' id="guestFirstName"><br>
                        Guest last name: <br>
                        <input type='text' class="form-control" name='guestLastName' id="guestLastName"><br>
                        E-mail:
                        <input type='text' class="form-control" name='phoneNumber' id="phoneNumber"><br>
                        Table number:<br>
                        <input type='text' class="form-control" name='tableNumber' id="tableNumber"><br>
                        Table capacity:<br>
                        <input type='text' class="form-control" name='tableCapacity' id="tableCapacity" placeholder="Max. 6 guests"><br>
                        Date:<br>
                        <input type='text' class="form-control" name='bookingDate' id="bookingDate"><br>
                        Would you like to book for lunch or dinner?<br>
                        <input type='text' class="form-control" name='bookingTime' id="bookingTime" placeholder="e.g. 'lunch' or 'dinner'"><br>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnsubmit">Submit</button>
                    <a href="#" id="confirmbutton" data-title="Are you sure" data-trigger="focus" data-toggle="clickover" data-placement="top" class="btn btn-danger">Delete</a>
                    <button type="button" class="btn btn-default" id="btnclose" onclick="deselect()" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

{{> footer}}