{{> header}}

<!-- Page Content -->
<div class="container-fluid">
    <h1 class="mt-5">List of bookings</h1>

    <table id="dataTable" class="display table-hover">
        <thead>
        <tr>
            <th>Booking ID</th>
            <th>Table number</th>
            <th>Guest last name</th>
            <th>Telephone number</th>
            <th>Date</th>
            <th>Options</th>
        </tr>
        </thead>

    </table>

</div>
<!-- /.container -->

{{> footer}}