{{> guestHeader}}

<!-- Page Content -->
<div class="container-fluid">
    <body>
    <div class="container">
        <h3 class="mt-5" style="text-align:center;">Contact Details</h3>
    </div>
    <div class="container card">
        <div class="row" style="padding-top: 20px;padding-bottom: 20px;">
            <div class="col-6 flex-box-center" style="text-align: center; padding: 0;">
                <h3 class="mt-5" style="margin-top:0 !important; margin-bottom:10px;">Molveno Lake Resort</h3>
                <p>
                    Via Bettega 12<br/>
                    38018 Molveno (Tn)<br/>
                    Italia<br/>
                    <br/>
                    +39 061 586934
                </p>
                <a href="molveno.lake.resort@gmail.com">molveno.lake.resort@gmail.com</a>
            </div>
            <div class="col-6" style="text-align: center; padding: 0;">
                <img src="assets/images/Molveno_map.jpg" alt="map" style="max-width: 400px; height: auto;">
            </div>
        </div>
    </div>
    </body>
</div>
<!-- /.container -->

{{> footer}}