{{> header}}

<!-- Page Content -->
<div class="container-fluid">
    <h1 class="mt-5">List of guests</h1>

    <i class="fa fa-plus btn btn-success" id="addBtn"></i>


    <table id="dataTable" class="display table-hover">
        <thead>
        <tr>
            <th>GuestID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            <th>Options</th>
        </tr>
        </thead>

    </table>

    <div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="deselect()" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" id="modal-title">Guest</h3>
                </div>
                <div class="modal-body">
                    <form id="modalForm" enctype='text/plain'>
                        ID:<br>
                        <input type='text' class="form-control" name='id' id="id" ><br>
                        First Name:<br>
                        <input type='text' class="form-control" name='firstName' id="firstName"><br>
                        Last Name: <br>
                        <input type='text' class="form-control" name='lastName' id="lastName"><br>
                        E-mail:
                        <input type='text' class="form-control" name='phoneNumber' id="phoneNumber"><br>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnsubmit">Submit</button>
                    <a href="#" id="confirmbutton" data-title="Are you sure" data-trigger="focus" data-toggle="clickover" data-placement="top" class="btn btn-danger">Delete</a>
                    <button type="button" class="btn btn-default" id="btnclose" onclick="deselect()" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

{{> footer}}