{{> header}}

<!-- Page Content -->
<div class="container-fluid">
    <h1 class="mt-5">List of guests</h1>

    <table id="tableTable" class="display table-hover">
        <thead>
        <tr>
            <th>Guest(ID)</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phonenumber</th>
        </tr>
        </thead>

        <tfoot>
        <tr>
            <th>Guest(ID)</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phonenumber</th>
        </tr>
        </tfoot>
    </table>

</div>
<!-- /.container -->

{{> footer}}