<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!--Font Awesome CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <title>Molveno Lake Resort</title>

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="assets/images/Molveno Lake Resort Logo3.png" width="250px" height=auto alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="mainMenu">Login as Employee</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container flex-box-center" style="margin-top: 80px;">
    <h3>Welcome to Molveno Lake Resort!</h3>
</div>
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/booking.jpg" alt="Bookings">
                <div class="card-body">
                    <h5 class="card-title">Book a table</h5>
                    <a href="addBooking" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/contact.jpg" alt="contact">
                <div class="card-body">
                    <h5 class="card-title">Contact Details</h5>
                    <a href="contact" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
<div class="container flex-box-center" style="margin-top: 20px;">
    <p>Book for more than 6 guests? Please call us at +39 041 884 0990</p>
</div>
<!-- Page Content -->
<div class="container-fluid">

</div>
<!-- /.container -->

{{> footer}}