{{> header}}

<!-- Page Content -->
<div class="container-fluid">
    <h1 class="mt-5">List of ingredients</h1>

    <table id="dataTable" class="display table-hover">
        <thead>
        <tr>
            <th>Ingredient ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>

    </table>

</div>
<!-- /.container -->

{{> footer}}