{{> header}}

<div class="container flex-box-center" style="margin-top: 80px;">
    <h3>Welcome employee!</h3>
</div>
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/booking.jpg" alt="Bookings">
                <div class="card-body">
                    <h5 class="card-title">Bookings</h5>
                    <a href="bookings" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/table.jpg" alt="Tables">
                <div class="card-body">
                    <h5 class="card-title">Tables</h5>
                    <a href="tables" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/guests.jpg" alt="Guests">
                <div class="card-body">
                    <h5 class="card-title">Guests</h5>
                    <a href="guests" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}