{{> header}}

    <!-- Page Content -->
    <div class="container-fluid">
        <h1 class="mt-5">DataTables Demo</h1>

        <table id="dataTable" class="display table-hover">
            <thead>
                <tr>
                    <th>MenuItem number</th>
                    <th>Actual price</th>
                    <th>Suggested price</th>

                </tr>
            </thead>


        </table>

    </div>
    <!-- /.container -->

{{> footer}}