{{> header}}

    <!-- Page Content -->
    <div class="container-fluid">
        <h1 class="mt-5">DataTables Demo</h1>

        <table id="tableTable" class="display table-hover">
            <thead>
                <tr>
                    <th>Table Number (ID)</th>
                    <th>Capacity</th>
                    <th>Options</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Table Numvber (ID)</th>
                    <th>Capacity</th>
                    <th>Options</th>
                </tr>
            </tfoot>
        </table>

    </div>
    <!-- /.container -->

{{> footer}}